<div >
  <h1>Registration Form</h1>
  <p>Username: <input type="text" placeholder="Username" [(ngModel)]="username"></p>
  <p>Password: <input type="text" placeholder="Password" [(ngModel)]="password"></p>
  <p>Email: <input type="text" placeholder="Email@gmail.com" [(ngModel)]="email"></p>
  <p>FirstName: <input type="text" placeholder="FirsName" [(ngModel)]="firstName"></p>
  <p>LastName: <input type="text" placeholder="LastName" [(ngModel)]="lastName"></p>
  <button (click)="register()">Register</button>
</div>
